---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// My variables
$background-color: #081724;

$link-color: #268bd2;

// Our variables
$base-font-family: "Deja Vu Sans Mono" "Source Sans Pro", "Arial";
$base-font-size:   0.8em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$main-color:            #d3f9ee;
$secondary-color:        #333333;

$main-font-color:  black;

$secondary-font-color: #bdaec6;


$tertiary-font-color: #ffffff;

$spacing-unit:     1em;

$text-color:                  #abc0ca;
$segment-text-color:        #ffffff;
$emphasized-text-color:       #abc0ca;

$brand-color:      #abc0ca;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Mode Line
$mode-line-color: #2872b2;
$mode-segment-first-color:  #27ae60;
$mode-segment-second-color: #f39c12;
$mode-segment-third-color: #f1c40f;
$mode-segment-fourth-color: #c0392b;
$mode-segment-right-color: $mode-segment-first-color;

// (Header)Footer Line
$header-line-color: #3a417a;
$header-line-text-color: #fffed9;



// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting",
"customization"
;
