---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-color: #081724;

$link-color: #fffed9;

$inner-link-color: #afc0fd;
$inner-link-background: #033340;
$inner-link-hover-background: #fffe4e;

$external-link-color: #68f6cb;

$base-font-family: "Source Code Pro Regular","Deja Vu Sans Mono", "Arial";
$base-font-size:  1.0em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$main-color:            #d3f9ee;
$secondary-color:        #333333;

$main-font-color:  black;

$secondary-font-color: #bdaec6;


$tertiary-font-color: #ffffff;

$spacing-unit:     1em;

$text-color:        #dcdad4;
$segment-text-color:        #ffffff;
$emphasized-text-color:       #abc0ca;

$brand-color:      #abc0ca;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$mode-line-color: #2872b2;
$mode-segment-first-color:  #27ae60;
$mode-segment-second-color: #f39c12;
$mode-segment-third-color: #f1c40f;
$mode-segment-fourth-color: #c0392b;
$mode-segment-right-color: $mode-segment-first-color;

$header-line-color: #2872b2;
$header-line-text-color: #fffed9;
$header-line-site-color:  #27ae60;
$header-line-category-color: #f39c12;
$header-line-title-color: #f1c40f;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
"base",
"component",
"layout",
"header",
"post",
"page",
"footer",
"syntax-highlighting"
;
