---
layout: default
title: Log Entries
blog-category: blog
---

<div class="home">

   <span class="page-aside">
      I maintain two blogs:
      <a href="/hacker">The Hacker</a>
      and
      <a href="/watcher">The Watcher</a>
      .
    </span>

    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
            </a>
            <p class="post-tagline">
                {{ post.tagline }}
            </p>
            <p class="post-meta">
              Blog:
              {{ post.blog-category | capitalize }}
            </p>
            <p class="post-meta">
                Log Date:
                {{ post.date | date_to_string }}
            </p>
            <p class="post-meta">
                Estimated Reading Time:
                {% assign words = post.content | number_of_words %}
                {% if words < 360 %}
                1 min
                {% else %}
                {{ words | divided_by:180 }} mins
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
