---
layout: default
blog-category: watcher
---

<br />

<div class="home">
    <div class="page-description">
        As a child of video games, my love for interactive fiction bled over to cinematic story telling. For games, I prefer challenging (not punishing) games to unwind and grow. For movies, I like animation and cartoons since it nourishes my imagination. I am not necessarily an expert but I've seen enough and want to write about them.
        <br /><br />
        To be clear, I don't write reviews; I write notes and thoughts. I am not here to change what you to with your money or the value of your experience. My priority is to further understand and appreciate the media, not simply be entertained, and write about it. I believe in enjoying the media we consume while being critical of it. So I pray my subjective writing is reasonable, fair, thorough, constructive and logical. I just want to enjoy and find media that has value and positive influenced.
    </div>

    <br />
    <b>Posts</b>

    <ul class="post-list">
        {% assign blog-posts = site.posts | where: "blog-category", page.blog-category %}
        {% for post in blog-posts %}
        <li class="post-item">
            {% include post-item.html
            title=post.title
            tagline=post.tagline
            blog-category=post.blog-category
            date=post.date
            content=post.content
            url=post.url
            %}
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">
        <span>Subscribe to my {{ page.blog-category }} log</span>
        <a class="external-link" href="{{  '/feed.xml' | prepend: page.blog-category | prepend: '/' | prepend: site.baseurl }}">via RSS</a>
    </p>
</div>
