<footer class="echo-area">
  <p class="contact">
    Thanks for making it this far. If you want to say something to me, you can reach me in the following ways:
    <a href="mailto:{{ site.email }}">Email</a>,
    <a href="https://github.com/{{ site.github_username }}">Github</a>,
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
  </p>

  <p class="donate">
    If you want to help me, you can donate through my
    <a href="https://www.patreon.com/user?u={{ site.patreon_user_id }}">Patreon</a>
    or
    <a href="bitcoin:{{ site.bitcoin_address }}">Bitcoin</a>
  </p>

  <p class="disclaimer">
    My writing is for educational purpose, I
    invoke <a href="https://en.wikipedia.org/wiki/Fair_use">Fair
    Use</a>. Although I just want to write, I do my best to avoid
    stepping on toes of lawyers and creators as I am a poor programmer.
    Images here are only visual aids which I did not create and belong
    to whoever they belong to. Please be merciful and consider if having
    a blog post without images is better?.
  </p>

  <p class="license">
    This work is licensed under a
    <a href="http://creativecommons.org/licenses/by/4.0/">Creative
      Commons Attribution 4.0 International License</a>.
  </p>

</footer>
