<div class="row header-line">
    <div class="header-separator header-separator-site">
    </div>
    <div class="row header-segment header-line-site">
        <a href="/">
            % {{ site.title }}
        </a>
    </div>
    <div class="header-inner-separator header-separator-site-category">
    </div>
    <div class="row header-segment header-line-category">
        {% if page.blog-category contains 'blog' %}
        <p>
            {{ site.major_mode}}
        </p>
        {% else %}
        <a href="/{{ page.blog-category }}">
            {{ page.blog-category | capitalize }}
        </a>
        {% endif %}
    </div>
    <div class="header-separator header-separator-category-title">
    </div>
    <div class="row header-segment header-line-title">
        <span>
            {% if page.title %}
            {{ page.title | capitalize }}
            {% else %}
            {{ site.description }}
            {% endif %}
        </span>
    </div>
    <div class="header-separator header-separator-title">
    </div>
</div>
