body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

code {
  font-size: 1em;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
    padding: 3px 5px;
    vertical-align: text-bottom;
}

pre {
  padding: 0;
  overflow-x: auto;
  max-width: 85vw;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


pre {
  background-color: #34495e !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 1.2em !important;
  padding: 0.75em 1em !important;
  color: #d3f9ee !important;
}

code {
  background-color: #afc0fd !important;
  color: #081724 !important;
  border: none !important;
  border-radius: 0px !important;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));

  @include media-query($on-laptop) {
      max-width: -webkit-calc(100vw - (#{$spacing-unit} * 2));
      max-width: calc(100vw - (#{$spacing-unit} * 2));
  }
}

.container {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
