/**
 * Reset
 */
p
  margin: 0
  padding: 0

.post
  p
    color: $text-color
    margin-bottom: 1.1 * $spacing-unit

  h1, h2, h3
    font-weight: 2 * $base-font-weight

  td, th
    padding: .25rem .5rem
    border: 1px solid #e5e5e5

  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th
    background-color: #f9f9f9


/**
 * Links
 */
a
  color: $link-color
  text-decoration: none

  &:visited
    text-decoration: none

  &:hover
    text-decoration: underline

