/**
 * Reset
 */
p
  margin: 0
  padding: 0


/**
 * Links
 */
a
  color: $link-color
  text-decoration: none

  &:visited
    text-decoration: none

  &:hover
    text-decoration: underline


/**
 * Posts
 */

.post-item
  margin: 0
  margin-bottom: $spacing-unit

.post-link
  display: block
  font-size: 24px
  font-weight: bold
  text-decoration: none
  color: black

  &:hover
    text-decoration: underline
