/**
 * Site header
 */

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -4em;
}

.mode-line {
    background-color: $mode-line-color;
    color: #0b1925;

    margin: 0;
    overflow: hidden;
    white-space: nowrap; // Act like Emacs mode line

    border-top: 3px solid #2872b2;
    border-bottom: 3px solid #2872b2;

    position: fixed;
    width: 100%;

    a:hover {
        color: $link-color;
        text-decoration: underline;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            background-color: #2872b2;
            display: inline-block;
            list-style-type: none;

            font-size: 1 * $base-font-size;
            font-weight: 2 * $base-font-weight;
            letter-spacing: 0em;
        }
    }
}

.footer {
    margin: 0;
    overflow: hidden;
    white-space: nowrap; // Act like Emacs mode line

    border-top: 3px solid #2872b2;
    border-bottom: 3px solid #2872b2;

    position: fixed;
    width: 100%;
}

.segment {
    padding-right: 25px;
    padding-left: 5px;
    margin-right: 0px;
    margin-left: -15px;

    border-style: solid;
    border-width: 5px 0 5px 20px;
    border-color: transparent;

    a {
        color: white;
    }
}

.segment-title {
    font-size: 1 * $base-font-size;
    font-weight: 1 * $base-font-weight;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.segment-first {
    background-color: $mode-segment-first-color !important;
    color: white !important;
}

.segment-first-separator {
    border-left-color: $mode-segment-first-color !important;
    background-color: $mode-segment-second-color !important;
}

.segment-post-title {
}

.segment-second {
    background-color: $mode-segment-second-color !important;
    color: white !important;
}


.segment-second-separator {
    border-left-color: $mode-segment-second-color !important;
    background-color: $mode-segment-third-color !important;
}


.segment-blog {
}

.segment-third {
    background-color: $mode-segment-third-color !important;
}

.segment-third-separator {
    border-left-color: $mode-segment-third-color !important;
    background-color: $mode-segment-fourth-color !important;
}

.segment-major-mode {
}

.segment-fourth {
    background-color: $mode-segment-fourth-color !important;
}

.segment-fourth-separator {
    border-left-color: $mode-segment-fourth-color !important;
    background-color: $mode-line-color !important;
}



.segment-separator {
    padding-left: 0px !important;
    margin-right: 0px !important;
    width: 0 !important;
}

.segment-process {
    background-color: $mode-segment-right-color !important;
}

.segment-reverse-separator {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    width: 0 !important;

    border-width: 5px 20px 5px 0;
    border-right-color: $mode-segment-right-color !important;
    background-color: $mode-line-color !important;
}



.segment-description {
    // background-color: #2872b2 !important;

    font-size: 0.80 * $base-font-size;
    font-weight: 1 * $base-font-weight;
    letter-spacing: 0px;
    margin-bottom: 0;

    p {
        display: inline;
    }
}


// Echo Area
.echo-area {
    background-color: $header-line-color;
    color: $header-line-text-color;

    padding-left: 1em;
    padding-right: 1em;

    padding-bottom: 1.5em;
}

.contact {
    padding-top: 1.1em;
}

.donate {
    padding-top: 1.1em;
}


.license {
    padding-top: 1.1em;
}



.site-nav {
    position: relative;

    margin-bottom: 1.1 * $base-font-size;

    a {
        color: $grey-color;
    }


    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    background-color: $secondary-color;

    color: $secondary-font-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: $link-color;
}

.post-link:hover {
    text-decoration: none;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: $emphasized-text-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        color: $emphasized-text-color;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


// Watch
.watch-list {
    margin-left: 0;
    list-style: none;
}

.watch-description {
    margin-bottom: 1em;
}

.watch-item {
    margin-bottom: 1.8em;
}

.watch-title {
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: -1px;
    text-aling: left;
    color: $emphasized-text-color;
}

.watch-year {
    font-size: 0.8em;
}

.watch-type {
}


.watch-year {
}

.watch-quick-word {
    font-style: italic;
}

.watch-meta {
    width: 100%;
}

.watch-public-rating {
}

.watch-personal-rating {
}

.watch-date {
}

.watch-column {
    width: 30%;
    float: left;
}

.watch-key {
    font-size: 0.8em;
}

.watch-value {
    font-size: 0.9em;
    font-weight: bold;
}
