.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: $emphasized-text-color;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
}

.page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-header {
    margin-bottom: $spacing-unit;
}
