---
layout: default
title: Hacker Log
description: Whatever I decide to hack and discuss.
blog-category: hacker
---

<div class="home">

  <h1>
    {{ page.title }}
  </h1>
  <p>
    {{ page.description }}
  </p>

  
  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.categories contains page.blog-category %}
    <li class="post-item">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
      <p class="post-tagline">
        {{ post.tagline }}
      </p>
      <p class="post-meta">
        Log Date:
        {{ post.date | date_to_string }}
      </p>
      <p class="post-meta">
        Estimated Reading Time:
        {% assign words = post.content | number_of_words %}
        {% if words < 360 %}
                      1 min
                      {% else %}
                      {{ words | divided_by:180 }} mins
                      {% endif %}
                      </p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">
    <span>Are you sure you want to subscribe to my {{ page.blog-category }} log?</span>
    <a href="{{  '/feed.xml' | prepend: page.blog-category | prepend: '/' | prepend: site.baseurl }}">via RSS</a>
  </p>
</div>
