---
layout: default
blog-category: hacker
---

<br />

<div class="home">
    <ul class="post-list">
        {% assign blog-posts = site.posts | where: "blog-category", page.blog-category %}
        {% for post in blog-posts %}
        <li class="post-item">
            {% include post-item.html
            title=post.title
            tagline=post.tagline
            blog-category=post.blog-category
            date=post.date
            content=post.content
            url=post.url
            %}
        </li>
        {% endfor %}
    </ul>

  <p class="rss-subscribe">
    <span>Subscribe to my {{ page.blog-category }} log </span>
    <a class="external-link" href="{{  '/feed.xml' | prepend: page.blog-category | prepend: '/' | prepend: site.baseurl }}">via RSS</a>
  </p>
</div>
